$default-color-primary: (
    50: #ece8fc,
    100: #d0c5f9,
    200: #b09ef5,
    300: #9077f0,
    400: #7959ed,
    500: #613cea,
    600: #5936e7,
    700: #4f2ee4,
    800: #4527e1,
    900: #331adb,
    A100: #ffffff,
    A200: #dfdbff,
    A400: #b2a8ff,
    A700: #9b8fff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$default-color-accent: (
    50: #f8fce8,
    100: #edf9c5,
    200: #e2f59e,
    300: #d6f077,
    400: #cded59,
    500: #c4ea3c,
    600: #bee736,
    700: #b6e42e,
    800: #afe127,
    900: #a2db1a,
    A100: #ffffff,
    A200: #f4ffdb,
    A400: #e3ffa8,
    A700: #dbff8f,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$default-color-warn: (
    50: #feede8,
    100: #fcd2c6,
    200: #fab4a0,
    300: #f89579,
    400: #f77f5d,
    500: #f56840,
    600: #f4603a,
    700: #f25532,
    800: #f04b2a,
    900: #ee3a1c,
    A100: #ffffff,
    A200: #fff1ef,
    A400: #ffc4bc,
    A700: #ffada2,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);
